<% const currentYear=new Date().getFullYear(); %>
    <footer>
        <p>&copy; <%= currentYear %> فريق متميزون. جميع الحقوق محفوظة.</p>
        <p>
            Made by
            <a href="https://t.me/bassem_krayem/" target="_blank">Bassem krayem
            </a>
        </p>
    </footer>
    </body>

    </html>