<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>متميزون للكتب النصية</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to external CSS file -->
</head>

<body dir="rtl">
    <header>
        <h1>متميزون للكتب النصية</h1>
        <nav>
            <ul>
                <li><a href="#about">عن المكتبة</a></li>
                <li><a href="#services">الخدمات</a></li>
                <li><a href="#collection">المكتبة</a></li>
                <li><a href="#contact">تواصل معنا</a></li>
                <li><a href="/books">قائمة الكتب</a></li>
                <li><a href="/admin/upload">رفع كتاب</a></li>
                <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
            </ul>
        </nav>
    </header>