<!-- header_guest.ejs -->
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Add any guest-specific styles or scripts here -->
    <link rel="stylesheet" href="/path/to/your/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/">
                <img src="/public/css/images/MotamyzonLogo.jpg" alt="متميزون للكتب النصية">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">تسجيل الدخول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">تسجيل حساب جديد</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>