<%- include('partials/header.ejs') %>
    <main>
        <div class="container">
            <h1>إضافة تصنيف جديد</h1>
            <% if (locals.error) { %>
                <div class="error-message">
                    <%= error %>
                </div>
                <% } %>
                    <form action="/admin/addCategory" method="POST">
                        <label for="category_name">اسم التصنيف:</label>
                        <input type="text" name="category_name" id="category_name" required>
                        <button type="submit">إضافة</button>
                    </form>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>