<%- include('partials/headerGuest.ejs') %>
    <main>
        <section id="access-restricted">
            <h2>مرحبا بك!</h2>
            <p>للوصول إلى محتوى المكتبة، تحتاج إلى تسجيل الدخول أو إنشاء حساب.</p>
            <p>إذا كنت قد قمت بالتسجيل مسبقًا، يمكنك <a href="/login">تسجيل الدخول هنا</a>.</p>
            <p>إذا كنت جديدًا، يمكنك <a href="/register">إنشاء حساب جديد</a>.</p>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>