<%- include('partials/header.ejs') %>
    <main>
        <section id="hero">
            <h2>تحويل الكتب النادرة إلى صيغة نصية</h2>
            <p>نحن نقدم خدمات نوعية للمكفوفين تساعدهم في مجالات التعليم والثقافة.</p>
        </section>

        <section id="about">
            <h2>عن المكتبة</h2>
            <p>قام فريق متميزون بتحويل سلسلة "رجل المستحيل" للدكتور نبيل فاروق إلى صيغة نصية كخدمة حصرية للمكفوفين. نحن
                نؤمن بأهمية الدعم الاجتماعي والتقني للمكفوفين، مما يعزز استقلاليتهم ويدعم ثقتهم بأنفسهم.</p>
        </section>

        <section id="services">
            <h2>الخدمات</h2>
            <ul>
                <li>تحويل الكتب إلى نصوص مجانية</li>
                <li>توفير تقنية القراءة الخاصة للمكفوفين</li>
                <li>دعم علمي وثقافي للمكفوفين</li>
            </ul>
        </section>

        <section id="collection">
            <h2>المكتبة</h2>
            <p>استعرض مجموعتنا من الكتب المحولة، حيث يمكنك قراءة الكتب بأسلوب سهل ومتاح للجميع.</p>
            <ul>
                <li><a href="#">سلسلة رجل المستحيل</a></li>
                <li><a href="#">كتب أخرى</a></li>
            </ul>
        </section>

        <section id="contact">
            <h2>تواصل معنا</h2>
            <p>لأي استفسارات أو اقتراحات، يرجى التواصل معنا عبر البريد الإلكتروني: info@example.com</p>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>